<br><br>
<footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span>Get Connected with us on social networks:</span>
        </div>
        <div>
            <a href="https://www.facebook.com/home" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/home" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="https://www.google.com/" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a href="https://www.instagram.com/" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.github.com/" class="me-4 text-reset"><i class="fa fa-github"></i></a>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i> BookNest</h6>
                    <p>
                        booknest.com is a one stop desination for every family's needs to entertain or some education purpose.
                        We give you the opportunity to give with the collections of books.
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Collections</h6>
                    <p><a href="#!" class="text-reset">Story</a></p>
                    <p><a href="#!" class="text-reset">Tamil Literature</a></p>
                    <p><a href="#!" class="text-reset">Historical</a></p>
                    <p><a href="#!" class="text-reset">Physics</a></p>
                    <p><a href="#!" class="text-reset">Computer Programming</a></p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p><a href="#!" class="text-reset">Imagine Story</a></p>
                    <p><a href="#!" class="text-reset">Make Literacy</a></p>
                    <p><a href="#!" class="text-reset">True History</a></p>
                    <p><a href="#!" class="text-reset">Make Science Beautiful</a></p>
                    <p><a href="#!" class="text-reset">Make Everything Advance</a></p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contacts</h6>
                    <p><i class="fa fa-home"></i> Bala Sivanantham</p>
                    <p><i class="fa fa-envelope"></i> booknest@gmail.com</p>
                    <p><i class="fa fa-phone"></i> +91 9442726520</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4">
        &copy; 2023 Copyright <a class="text-reset fw-bold" href="https://booknest.in/">booknest.in</a>
    </div>
</footer>